<div class="courses">
  {% for course in data.courses %}
    <p>course name: {{course.courseName}}</p>
    <p>Skills: {{course.skills}}</p>
    <p>course discription {{course.discription}}</p>
    <p> start date: {{course.start_date}}</p>
    <p>course Link: {{course.link}}</p>
  {% endfor %} 
</div>