<div class="header_content">
{% for details in data.details %}
    <ul class="personal_details">
        <li>{{details.address}}</li>
        <li>{{details.email}}</li>
        <li>{{details.phone}}</li>
       <li><a target="_blank" href="{{details.Github}}">Github</a></li>
        <li><a target="_blank" href="{{details.website}}">Personal Website</a></p>
        </ul>     
    {%endfor %}
</div>