<div class="workesperience_section--content">
    {% for workesperience in data.workesperience %}
        <ul class="work_experiance">       
        <h4><a target="_blank" href="{{workesperience.link}}"><i class="fa fa-external-link" aria-hidden="true"></i>{{workesperience.company}}</a></h4>
        <div class="work_experiance--flex">
        <li class="workesperience_section--role">{{workesperience.role}}</li>
        <li><i class="fa fa-calendar-alt"></i>{{workesperience.start_date}}</li>
        </div>
        <li><i class="fa fa-map-marker"></i>{{workesperience.address}}</li>
        <li><i class="fa fa-phone"></i>{{workesperience.tell}}</li>
        <li>{{workesperience.description}}</li>
        <li><i class="fa fa-wrench"></i>{{workesperience.tools}}</li>
        </ul>
    {%endfor %}
</div>