---
title: Mziyanda Joko Resume
layout: "base.njk"
---
<div class="container">
    <h2>Adress details</h2>
    {% for details in data.details %}
        <p>name: {{details.name}}</p>
        <p>Lastname: {{details.lastname}}</p>
        <p>Adress: {{details.address}}</p>
    {%endfor %}

    <h2>work experience</h2>
    
    {% for workesperience in data.workesperience %}
        <p>Company: {{workesperience.company}}</p>
        <p>{% for address in workesperience.address %}
          <p>Cape Town: {{address.cape_town}}</p>
          <p>Sweden (T/A Wootby): {{address.Sweden}}</p>
        {% endfor %}</p>
        <p>Link: {{workesperience.link}}</p>
    {%endfor %}
</div>
