:root{
    --dark-cyan-color: #0081a7;
    --dark-desaturated-cyan-color: #00afb9;
    --white-color: #FFF;
    --secondry-color: #f07167;
    --dark-yellow-color: #fdfcdc;
    --off-peach-color: #fed9b7;
    --grey-color: #B1B4B6;
    
}
body{
    margin: 0 auto;
    font-family: "Helvetica Neue",Helvetica;
    padding: 0px 20px;
    width: 1256px;
    max-width: 100%;
    box-sizing: border-box;
    line-height: 1.3em;
}
 i{
     padding-right: 5px;
 }
h1{
    font-size: 2.3rem
}
a{
color: var(--dark-desaturated-cyan-colo);
text-decoration: none;
color: var(--dark-cyan-color)
}

.container{
    border: 1px solid var(--grey-color);
    padding: 0px 15px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
}

.sub_title{
    font-size: 1.2rem
}
.header_topic{
        border-top: 2px solid var(--grey-color);
        border-bottom: 2px solid var(--grey-color);
        padding: 15px 0px;
        font-weight: 400;
        font-size: 1.3rem;
}

/* PEROSNAL DETAILS */

.personal_details{
    padding: 3px 0px ;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 30px;
}

/* @media screen(max-width: ) {
    .personal_details{
        flex-direction: column;
    }
} */

.personal_details li{
    align-items: flex-start;
    justify-content: flex-start;
    display: inline;
    padding: 10px;

}

/* WORK EXPERIANCE */
.work_experience_section{

    
}

.work_experiance--flex{
    display: flex;
    justify-content: space-between
}
.work_experiance li{
    display: block;
    line-height: 1.5em;
    font-size: 14px;
}

.work_experiance{
    padding: 5px 0px;
}

.workesperience_section--role{
    font-weight: 700;
}


.courses{   
    padding: 5px;
}

/* COURSES */


/* SKILLS */

.skills li{
    display: flex;
}

